# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/
bsc-hac/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/


# Dataset artifacts
metadata/

# OS files
.DS_Store
Thumbs.db

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# coverage
.coverage
htmlcov/